name: Deploy para a VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        run: |
          docker build \
          -f Dockerfile \
          -t ap2-plataformas-computacionais:${{ github.sha }} .
          
      - name: Save Image
        run: |
          docker save --output image.tar ap2-plataformas-computacionais:${{ github.sha }}

      - name: Transfer Image
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "image.tar"
          target: /home/ubuntu/image.tar
          
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            docker load ~/image.tar
            docker run -d ap2-plataformas-computacionais:${{ github.sha }}
