name: Deploy para a VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    env:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Docker Image
        run: |
          docker build \
          -f Dockerfile \
          -t ap2-plataformas-computacionais:${{ github.sha }} .

      - name: Deploy
        run:
          docker save ap2-plataformas-computacionais:${{ github.sha }} > image.tar
          echo "$SSH_KEY" > temp
          scp -i ./temp ./image.tar $SSH_USER@$SSH_HOST:/image.tar
          ssh -i ./temp $SSH_USER@$SSH_HOST docker load --input /image.tar && docker run -d ap2-plataformas-computacionais:${{ github.sha }}
